@font-face {
    font-family: 'Average Sans';
    src: url(AverageSans-Regular.ttf);
}
@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Work Sans';
    src: url(WorkSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Work Sans';
    src: url(WorkSans-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Merriwather';
    src: url(Merriweather-Light.ttf);
    font-weight: 300;
}