@import url(../fonts/fond.css);

:root {
    --font-family: "Open Sans";
    --second-family: "Average Sans";
    --third-family: "Work Sans";
    --font4: "Merriweather";
    --Light: 300;
    --Regular: 400;
    --Medium: 500;
    --SemiBold: 600;
    --Bold: 700;
    --transparent-color: #00000000;
    --color-dove-blue: #596b86;
    --color-black: #353637;
    --color-black-gray: #222426;
    --color-white: #fff;
    --color-grey: #939393;
    --color-purple-blue: #384D6C;
    --color-wet-asphalt-color: #585858;
    --color-white-aluminum: #A4A4A4;
    --color-periwinkle-crayola: #C9D6E9;
    --colot-slightly-dark-white: #EAEFF6;
    --color-light-blue-gray: #7188AA;
    --Cadet-Blue-Crayola: #B1BED0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

.title {
    font-family: var(--font-family);
    font-weight: var(--Regular);
    font-size: 45px;
    line-height: 122%;
    text-align: center;
    color: var(--color-black);
    text-align: center;
}

.button {
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 12px 0 rgba(21, 21, 21, 0.15);
    background: var(--color-dove-blue);
    font-family: var(--font-family);
    font-weight: var(--Regular);
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-white);
    padding: 12px 22px;
}

.logo {
    font-family: var(--font-family);
    font-weight: var(--SemiBold);
    font-size: 26px;
    line-height: 212%;
    color: var(--color-dove-blue);
    position: relative;
    margin-bottom: 7px;
}

.logo span {
    position: relative;
    bottom: -16px;
    margin-left: 11px;
}

.desc {
    font-family: var(--second-family);
    font-weight: var(--Regular);
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}

.top-text {
    font-family: var(--second-family);
    font-weight: var(--Regular);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.26em;
    text-align: center;
    color: var(--color-dove-blue);
}

.navbar-menu {
    justify-content: space-between;
    align-items: flex-end;
    height: 70px;
}

.navbar__list {
    width: 510px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.navbar__link {
    font-family: var(--second-family);
    font-weight: var(--Regular);
    font-size: 18px;
    line-height: 144%;
    letter-spacing: 0.02em;
    color: var(--color-dove-blue);
    position: relative;
    transition: 300ms;
}

.navbar__link::before {
    transition: 300ms;
    content: '';
    position: absolute;
    border: 1.50px solid var(--color-dove-blue);
    width: var(--before-width, 10px);
    height: 1px;
    bottom: -10px;
    left: -12%;
    opacity: 0;
}

.navbar__dropdown-menu {
    display: none;
}

.header {
    background-color: var(--colot-slightly-dark-white);
}

.header__content {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
}

.header__content-stats {
    position: absolute;
    z-index: 1;
    left: -250px;
    bottom: 15px;
}

.header__content-tower {
    position: relative;
    z-index: 1;
    margin-right: 230px;
}

.header__content-sidebar-right {
    position: relative;
}

.header__content-decorative-ball {
    position: absolute;
}

.ball1 {
    box-shadow: -5px 0 39px 0 rgba(118, 118, 118, 0.08);
    background-color: var(--color-white);
    border-radius: 50%;
    width: calc(517px * 1.1);
    height: calc(517px * 1.1);
    left: -145px;
    bottom: 50px;
}

.ball2 {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--color-periwinkle-crayola);
    left: -160px;
}

.ball3 {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: var(--color-periwinkle-crayola);
    bottom: 50px;
    right: 150px;
}

.ball4 {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: var(--color-Periwinkle-Crayola);
    right: 25%;
    top: -6%;
}

.header__content-title--increase-in-weight {
    font-weight: var(--SemiBold);
}

.header__content-title {
    width: 446px;
}

.header__content-title--text-center-to-unset {
    text-align: unset;
}

.header__content-desc {
    width: 445px;
}

.header__content-box-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
}

.header__content-in-box-button-button-sideway-right {
    margin-top: 7px;
}

.header__content-in-box-button-button-sideway-right--transparent-button {
    background-color: var(--transparent-color);
    color: var(--color-black);
    box-shadow: none;
    padding: 0;
}

.main {
    margin-top: 120px;
}

.desc--text-to-center {
    text-align: center;
}

.rent {
    margin-top: 100px;
}

.rent__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.rent__content-img-left {
    width: 637px;
    height: 523px;
}

.rent__content-sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 160px;
}

.rent__content-name {
    font-family: var(--font-family);
    font-weight: var(--Regular);
    font-size: 14px;
    line-height: 393%;
    letter-spacing: 0.03em;
    margin-bottom: 0;
    margin-top: 20px;
    text-transform: uppercase;
    color: var(--color-black-gray);
}

.rent__content-name:nth-of-type(2n) {
    margin-top: 20px;
}

.rent__content-name:first-of-type {
    margin-top: 0;
}

.rent__content-input {
    border: 1px solid var(--color-black);
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.rent__content-dropdown-button {
    width: 100%;
    background-color: var(--transparent-color) !important;
    outline: none !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
    color: var(--color-white-aluminum) !important;
    text-align: start !important;
}

.rent__content-dropdown-button::after {
    position: absolute !important;
    right: 10px;
    bottom: 17px;
}

.rent__content-button--main-color-black-and-white {
    background-color: var(--transparent-color);
    color: var(--color-black);
    border: 2px solid var(--color-black);
    margin-top: 50px;
}

.room__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room__content-box {
    width: 350px;
}

.room__content-title--changing-text-size {
    font-weight: var(--Regular);
    font-size: 24px;
    line-height: 229%;
}

.room__content-title--text-center-to-unset {
    text-align: unset;
}

.room__content-container {
    padding: 20px;
    border: 1px solid var(--color-dove-blue);
}

.room__content-details {
    display: flex;
    justify-content: space-between;
}

.room__content-price {
    margin-bottom: 0;
}

.room__content-price--increase-size-of-font {
    font-weight: var(--Regular);
    font-size: 18px;
}

.room__content-price--increase-size-of-font span {
    font-weight: var(--SemiBold);
    font-size: 30px;
    line-height: 183%;
    color: var(--color-purple-blue);
}

.room {
    margin-top: 50px;
    margin-bottom: 125px;
}

.factilities__content-box {
    width: 350px;
    height: 158px;
    border: 1px solid var(--color-black);
    border-radius: 6px;
    padding: 22px;
}

.factilities__content-box:nth-of-type(2),
.factilities__content-box:nth-of-type(5) {
    margin: auto;
}

.factilities__content-box:nth-of-type(3),
.factilities__content-box:nth-of-type(6) {
    margin-left: auto;
}

.factilities__content-title--text-center-to-unset {
    text-align: unset;
}

.factilities__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.factilities__content-title--reduce-text-size {
    font-weight: var(--Regular);
    font-size: 22px;
}

.factilities__content-container {
    display: flex;
    justify-content: space-between;
}

.factilities__content {
    margin-top: 45px;
    margin-bottom: 100px;
}

.info__content-titie--increasing-text-size {
    font-weight: 700;
    font-size: 50px;
    line-height: 110%;
}

.info__content-titie--color-change {
    color: var(--color-dove-blue);
}

.info__content-desc--increasing-text-size {
    font-size: 18px;
    line-height: 133%;
}

.info__content-titie--text-center-to-unset {
    text-align: unset;
}

.info__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.info__content-box {
    margin: auto;
    position: relative;
}

.info__content-sidebar-line {
    position: absolute;
    border: 1.50px solid #c3c3c3;
    width: 1px;
    height: 54px;
    right: -95px;
    top: 22px;
}

.info__content-box:last-of-type .info__content-sidebar-line {
    display: none;
}

.discovery__content {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
}

.discovery__content-title--text-center-to-unset {
    text-align: unset;
}

.discovery__content-title--reducing-text-size {
    font-weight: 400;
    font-size: 40px;
    line-height: 137%;
}

.discovery__content-button--transparent-button {
    background-color: var(--transparent-color);
    color: var(--color-black);
    box-shadow: none;
    padding: 0;
}

.discovery__content-right-video {
    position: relative;
}

.discovery__content-play-button {
    position: absolute;
    right: 38%;
    top: 38%;
}

.discovery__content-left {
    padding: 0 117px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discovery__content-box-of-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
}

.custumors__content-title--reducing-text-size {
    font-weight: var(--Medium);
    font-size: 30px;
    line-height: 167%;
}

.custumors__content-title--text-center-to-unset {
    text-align: unset;
}

.custumors__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 60px;
}

.custumors__content-desc {
    z-index: 1;
}

.custumors__content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 389px;
    position: relative;
    transition: 300ms;
    border-radius: 6px;
    padding: 30px;
}

.custumors__content-pic {
    width: 83px;
    height: 83px;
}

.custumors__content-desc--change-text-design {
    font-family: var(--font3);
    font-weight: 300;
    font-size: 14px;
    line-height: 186%;
}

.custumors__content-arrows {
    position: absolute;
    opacity: 0;
    transition: 100ms;
}

.custumors__content-arrows:nth-last-of-type(1),
.custumors__content-arrows:nth-last-of-type(3),
.custumors__content-arrows:nth-last-of-type(5) {
    width: 147px;
    height: 147px;
    bottom: 0;
    left: 0;
}

.custumors__content-arrows:nth-last-of-type(2),
.custumors__content-arrows:nth-last-of-type(4),
.custumors__content-arrows:nth-last-of-type(6) {
    width: 55px;
    height: 55px;
    top: 0;
    right: 0;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--Cadet-Blue-Crayola) !important;
    border-radius: 18px !important;
    width: 27px !important;
    height: 14px !important;
    border: none !important;
    transition: 300ms;
}

.carousel-indicators .active {
    width: 60px !important;
    background: #597193 !important;
}

.news {
    margin-top: 200px;
}

.news__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 80px;
}

.news__content-container {
    border: 1px solid var(--color-dove-blue);
    height: 250px;
    padding: 30px;
}

.news__content-box {
    display: flex;
    flex-direction: column;
}

.news__content-title--reducing-text-size {
    font-size: 25px;
    line-height: 150%;
}

.news__content-button--transparent-button {
    background: none;
    box-shadow: none;
}

.news__content-button--color-change {
    color: var(--color-dove-blue);
}

.news__content-info {
    display: flex;
}

.news__content-box-info {
    display: flex;
    justify-content: space-between;
}

.news__content-info-desc {
    margin-bottom: 0;
    margin-left: 10px;
}

.news__content-button--padding-none {
    padding: unset;
}

.news__content-button {
    margin-top: 10px;
    position: relative;
    transition: 300ms;
}

.news__content-button span {
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: var(--color-dove-blue);
    top: 15px;
    right: -34px;
}

.news__content-button span::before,
.news__content-button span::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background-color: var(--color-dove-blue);
}

.news__content-button span::before {
    rotate: 45deg;
    top: -3px;
    right: -3px;
}

.news__content-button span::after {
    rotate: 315deg;
    top: 3px;
    right: -3px;
}

.signup {
    margin-top: 100px;
}

.signup__content {
    background: var(--Cadet-Blue-Crayola);
    border-radius: 10px;
    height: 383px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup__content-desc--reducing-text-size {
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.15em;
}

.signup__content-desc--to-center {
    text-align: center;
}

.signup__content-desc--change-color {
    color: var(--color-white);
}

.signup__content-arrow {
    position: absolute;
}

.signup__content-arrow:first-of-type {
    bottom: 0;
    left: 0;
    width: 98px;
    height: 98px;
}

.signup__content-arrow:last-of-type {
    top: 0;
    right: 0;
    width: 79px;
    height: 79px;
}

.signup__content-title {
    width: 572px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.signup__content-input {
    font-family: var(--font-family);
    font-weight: var(--Regular);
    font-size: 14px;
    line-height: 357%;
    color: var(--color-white-aluminum);
    padding: 0px 30px;
    padding-right: 42px;
    border: none;
    outline: none;
    border-radius: 6px;
    border-radius: 6px;
    width: 354px;
    height: 50px;
    box-shadow: 0 2px 12px 0 rgba(52, 52, 52, 0.15);
}

.signup__content-button {
    position: relative;
    left: -15px;
}

.footer {
    margin-top: 100px;
}

.footer__content {
    border: 1px solid #7587a0;
    padding: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.footer__content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__content-title--reducin-text-size {
    font-weight: var(--Regular);
    font-size: 25px;
    line-height: 130%;
}

.footer__content-title--text-center-to-unset {
    text-align: unset;
}

.footer__content-link--transparent-button {
    box-shadow: none;
    background: none;
}

.footer__content-link--decreasing-button-size {
    padding: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
}

.footer__content-list {
    width: 35%;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.footer__content-link {
    border: 1px solid var(--color-black);
}

.footer__content-info span {
    margin-left: 7px;
}




@media (hover: hover) {
    .navbar__link:hover {
        color: var(--color-dove-blue);
    }

    .navbar__link:hover:before {
        opacity: 1;
    }

    .rent__content-dropdown-item:hover {
        background-color: var(--transparent-color) !important;
        color: var(--color-black) !important;
    }

    .custumors__content-box:hover {
        box-shadow: 0 10px 19px 0 rgba(66, 66, 66, 0.2);
        background-color: var(--color-light-blue-gray);
    }

    .custumors__content-box:hover .custumors__content-title,
    .custumors__content-box:hover .custumors__content-desc,
    .custumors__content-box:hover .custumors__content-desc-of-title {
        color: var(--color-white);
    }

    .custumors__content-box:hover .custumors__content-arrows {
        opacity: 1;
    }
}

@media (hover: none) {
    .navbar__link:active {
        color: var(--color-dove-blue);
    }


    .navbar__link:active {
        color: var(--color-black);
    }

    .rent__content-dropdown-item:active {
        background-color: var(--transparent-color) !important;
        color: var(--color-black) !important;
    }

    .custumors__content-box:hover {
        box-shadow: 0 10px 19px 0 rgba(66, 66, 66, 0.2);
        background-color: var(--color-light-blue-gray);
    }

    .custumors__content-box:hover .custumors__content-title,
    .custumors__content-box:hover .custumors__content-desc,
    .custumors__content-box:hover .custumors__content-desc-of-title {
        color: var(--color-white);
    }

    .custumors__content-box:hover .custumors__content-arrows {
        opacity: 1;
    }
}

@media (max-width:1400px) {
    .header__content-tower {
        margin-right: 70px;
    }

    .ball4 {
        right: -6%;
    }

    .ball3 {
        right: unset;
    }

    .rent__content-sidebar {
        padding: 0 100px;
    }

    .info__content-sidebar-line {
        right: -70px;
    }

    .discovery__content-left {
        padding: 0 43px;
    }

    .news__content-container {
        width: 344px;
    }
}

@media (max-width:1200px) {
    .header__content-tower {
        margin-right: 30px;
    }

    .ball1,
    .ball2,
    .ball3,
    .ball4 {
        display: none;
    }

    .rent__content-sidebar {
        padding: 0 30px;
    }

    .room__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-content: unset;
        align-items: unset;
    }

    .room__content-box {
        margin: auto;
    }

    .room__content-box:last-of-type {
        grid-column: 1 / 3;
    }

    .factilities__content-box:nth-of-type(2) {
        margin: unset;
    }

    .factilities__content-box:nth-of-type(2),
    .factilities__content-box:nth-of-type(4),
    .factilities__content-box:nth-of-type(6) {
        margin-left: auto;
    }

    .factilities__content-box:nth-of-type(5),
    .factilities__content-box:nth-of-type(3) {
        margin: unset;
    }

    .factilities__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .info__content-sidebar-line {
        right: -58px;
    }

    .discovery__content-left {
        padding: 0 10px;
    }

    .discovery__content-video {
        width: 400px;
    }

    .custumors__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .custumors__content-box {
        margin: auto;
    }

    .custumors__content-box:last-of-type {
        grid-column: 1 / 3;
    }

    .news__content-container {
        width: unset;
    }

    .news__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .news__content-box:last-of-type {
        grid-column: 1 / 3;
        margin: auto;
        width: 441px;
    }

    .footer__content-list {
        width: 50%;
    }
}

@media (max-width:992px) {
    .navbar__dropdown-menu {
        display: unset;
    }

    .navbar__list {
        display: none !important;
    }

    .header__content-tower {
        display: none;
    }

    .header__content {
        margin-top: 70px;
    }

    .rent__content-img-left {
        width: calc(637px / 1.4);
        height: calc(523px / 1.4);
    }

    .rent__content-sidebar {
        padding: 0;
        margin-left: 15px;
    }

    .rent__content-img-left {
        display: none;
    }

    .rent__content-sidebar {
        margin-left: 0;
    }

    .room__content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .room__content-box:last-of-type {
        grid-column: unset;
    }

    .factilities__content {
        grid-template-columns: repeat(1, 1fr);
    }

    .factilities__content-box:nth-of-type(2),
    .factilities__content-box:nth-of-type(4),
    .factilities__content-box:nth-of-type(6),
    .factilities__content-box:nth-of-type(5),
    .factilities__content-box:nth-of-type(3) {
        margin: auto;
    }

    .factilities__content-box {
        margin: auto;
    }

    .info__content-sidebar-line {
        right: -30px;
    }

    .discovery__content {
        display: unset;
    }

    .discovery__content-video {
        width: 100%;
        margin-top: 70px;
        border-radius: 20px;
        margin-bottom: 120px;
    }

    .discovery {
        margin-top: 120px;
    }

    .discovery__content-left {
        padding: unset;
    }

    .discovery__content-box-of-buttons {
        margin-right: 0;
    }

    .discovery__content-play-button {
        top: 36%;
    }

    .news__content-box:last-of-type {
        grid-column: unset;
        margin: unset;
        width: unset;
    }

    .news__content {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__content-box:last-of-type {
        margin: auto;
        grid-column: 1 / 3;
        width: 50%;
    }
}

@media (max-width:768px) {
    .button {
        padding: 8px 18px;
    }

    .header__content-stats {
        display: none;
    }

    .info__content-sidebar-line {
        display: none;
    }

    .info__content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .info__content-box {
        margin: unset;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 70px;
    }

    .info__content-box:first-of-type,
    .info__content-box:last-of-type {
        grid-row: 2 / 4;
    }

    .custumors__content-box:last-of-type {
        grid-column: unset;
    }

    .custumors__content {
        grid-template-columns: repeat(1, 1fr);
    }

    .signup__content-title {
        width: 90%;
        font-size: 30px;
    }

    .signup__content-arrow {
        display: none;
    }

    .signup__content-button {
        padding: 12px 22px;
    }

    .footer__content-box:last-of-type {
        width: unset;
        grid-column: unset;
    }

    .footer__content {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:576px) {
    .title {
        font-size: 39px;
    }

    .header__content-title {
        width: auto;
    }

    .header__content-desc {
        width: auto;
    }

    .room__content-title--changing-text-size {
        font-size: 24px;
    }

    .factilities__content-title--reduce-text-size {
        font-size: 22px;
    }

    .info__content-box {
        margin-left: 30px;
    }

    .discovery__content-play-button {
        width: 100px;
        top: 40%;
        right: 40%;
    }

    .custumors__content-title--reducing-text-size {
        font-size: 30px;
    }

    .custumors__content-box {
        width: 300px;
    }

    .signup__content-title {
        width: unset;
        font-size: 30px;
    }

    .signup__content-input {
        width: 260px;
        height: 42px;
    }

    .signup__content-button {
        position: unset;
        padding: 8px 18px;
    }

    .signup__content-input {
        width: 220px;
        padding: 0 10px;
    }
}

@media (max-width:400px) {
    .discovery__content-play-button {
        top: 36%;
        right: 36%;
    }

    .news__content-container {
        padding: 20px;
    }
}